<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Add</title>
</head>
<body>

    <form class="container form-control form-control-sm" style="width: 500px; margin-top:50px" method="post" action="/api/collections/addCollection">
        <div class="mb-3">
          <label for="example"  class="form-label">Collection Code</label>
          <input type="text" name="identification.collectionCode" class="form-control" id="example">
        </div>
        <div class="mb-3">
           <label for="example" class="form-label">NCBI Taxonomy Code</label>
           <input type="number" class="form-control" name="identification.NCBITaxonomyCode" id="example">
         </div>
         <div class="mb-3">
           <label for="example" class="form-label">Archival Individual Code</label>
           <input type="text" class="form-control" name="archivalIdentification.archivalIndividualCode" id="example">
         </div>
         <div class="mb-3">
            <label for="example" class="form-label">Archival Species Name</label>
            <input type="text" class="form-control" name="archivalIdentification.archivalSpeciesName" id="example">
          </div>
         <div class="mb-3">
            <label for="example" class="form-label">Sex</label>
            <input type="text" class="form-control" name="physiologicalInformation.sex" id="example">
          </div>
         <div class="mb-3">
           <label for="example" class="form-label">Body Weight</label>
           <input type="number" class="form-control" name="physiologicalInformation.bodyWeight"  id="example"  aria-describedby="weightHelp">
           <div id="weightHelp" class="form-text">grams</div>
         </div>

         <div class="mb-3">
            <label for="example" class="form-label">Brain Weight</label>
            <input type="number" class="form-control" name="physiologicalInformation.brainWeight"  id="example" aria-describedby="weightHelp">
            <div id="weightHelp" class="form-text">grams</div>
          </div>
          <div class="mb-3">
            <label for="example" class="form-label">Plane of Sectioining</label>
            <input type="text" class="form-control" name="histologicalInformation.planeOfSectioning" id="example">
          </div>
          <div class="mb-3">
            <label for="example" class="form-label">Staining</label>
            <input type="text" class="form-control" name="histologicalInformation.stainingMethod" id="example">
          </div>
          <div class="mb-3">
            <label for="example" class="form-label">Section Thickness</label>
            <input type="text" class="form-control" name="histologicalInformation.sectionThickness" id="example" aria-describedby="lengthHelp">
            <div id="lengthHelp" class="form-text">micrometer</div>
          </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

</body>
</html>